/*Add CSS styles here*/
.container{
    background-color:rgb(0,0,0);
}

.innerRect{
    padding: 50px;
}

.map{
    
    border: medium solid #999;
}

.countries{
    fill:rgb(145, 145, 145)
}

.counties{
    fill:rgb(62, 171, 214);
    stroke: rgb(24, 31, 34)
}

.title{
    fill: rgb(200, 117, 40);
    font-size: 32px;
    font-weight: bold ;
}